@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .custom-bg-button {
        background-color: hsl(var(--twc-button));
        @apply rounded-md;
    }

    .custom-bg-plotdrawer {
        background-color: hsl(var(--twc-plot_drawer));
    }

    .custom-bg-background {
        background-color: hsl(var(--twc-background));
        @apply py-20 pl-[15%] md:pl-[20%] lg:pl-[30%];
    }

    .custom-bg-sidebar {
        background-color: hsl(var(--twc-sidebar));
    }

    .custom-text {
        color: hsl(var(--twc-text));
    }

    .custom-text-button {
        color: hsl(var(--twc-button_text));
        @apply font-bold drop-shadow-sm hover:font-extrabold;
    }

    .custom-header {
        color: hsl(var(--twc-header));
    }

    .custom-bg-mobilenav {
        background-color: hsl(var(--twc-mobile_nav));
    }

    .custom-bg-formfield {
        background-color: hsl(var(--twc-form_field));
    }

    .slide-component-width {
        @apply w-[70%] lg:w-[20%];
    }
}