/*
 * Created on Fri Sep 20 2024
 * Author: Ian Olmstead
 *
 * License: GNU Affero General Public License (AGPL-3.0)
 *
 *For details, see https://www.gnu.org/licenses/agpl-3.0-standalone.html
 *
 *This program is free software: you can redistribute it and/or modify
 *it under the terms of the GNU Affero General Public License as published
 *by the Free Software Foundation, either version 3 of the License, or
 *(at your option) any later version.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-bg-button {
    background-color: hsl(var(--twc-button));
    @apply rounded-md;
  }

  .custom-bg-plotdrawer {
    background-color: hsl(var(--twc-plot_drawer));
  }

  .custom-bg-background {
    background-color: hsl(var(--twc-background));
    @apply py-20 pl-[15%] md:pl-[20%] lg:pl-[30%];
  }

  .custom-bg-sidebar {
    background-color: hsl(var(--twc-sidebar));
  }

  .custom-text {
    color: hsl(var(--twc-text));
  }

  .custom-text-button {
    color: hsl(var(--twc-button_text));
    @apply font-bold drop-shadow-sm hover:font-extrabold;
  }

  .custom-header {
    color: hsl(var(--twc-header));
  }

  .custom-bg-mobilenav {
    background-color: hsl(var(--twc-mobile_nav));
  }

  .custom-bg-formfield {
    background-color: hsl(var(--twc-form_field));
  }

  .slide-component-width {
    @apply w-[70%] lg:w-[20%];
  }

  .skeleton {
    background-color: #f0f0f0;
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% {
      background-color: #f0f0f0;
    }
    50% {
      background-color: #e0e0e0;
    }
    100% {
      background-color: #f0f0f0;
    }
  }
}
